@import url("style.css");


.preview-wrapper {
    height: 396px;
}

.good-card.sale {
    position: relative;
}
.good-card.sale::before {
    content: "SALE";

    position: absolute;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--custom-red);
    border-radius: 50%;
    border: solid 3px white;
    color: white;
    font-size: 20px;

    top: 10px;
    right: 10px;
}


.good-card.sale::before{
    transition: transform .5s;
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
}
.good-card.sale:hover::before {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}